<div id="statList">
  <div>
    <div class="charList"></div>
    <div class="character">
        <label>Nom : </label><span class="characterName"></span><br>
        <label>Espèce : </label><span class="characterSpecies"></span><br>
        <label>Couleur des yeux : </label><span class="characterEyes"></span><br>
        <label>Genre : </label><span class="characterGenre"></span><br>
        <label>Taille : </label><span class="characterHeight"></span><br>
        <label>Poid : </label><span class="characterWeight"></span><br>
        <label>Planete : </label><span class="characterPlanet"></span><br>
        <label>Vaisseau : </label><span class="characterShip"></span><br>
    </div>
  </div>
  <div>
    <div class="planetList"></div>
    <div class="planetData">
        <label>Nom : </label><span class="planetName"></span><br>
        <label>Periode de rotation en h :</label><span class="planetRotation"></span><br>
        <label>Perdiode orbitale en J : </label><span class="planetOrbital"></span><br>
        <label>Diametre : </label><span class="planetDiameter"></span><br>
        <label>Climat : </label><span class="planetClimat"></span><br>
        <label>Population : </label><span class="planetPeople"></span><br>
        <label>Gravity : </label><span class="planetGravity"></span><br>
    </div>
  </div>
</div>
